<div class="w-100 p-3 text-center bg-light">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-3">
          <h6 class="text-black">Informasi</h6>
          <div class="d-flex flex-column gap-3">
            <a href="#" class="text-black">Karir</a>
            <a href="#" class="text-black">Jadwal</a>
          </div>
        </div>

        <div class="col-3">
          <h6 class="text-black">Lokasi</h6>
          <div class="d-flex flex-column">
            <div class="mb-3 text-black">
              <strong>Jakarta:</strong> Tangerang: Primaya Hospital Tangerang,  Lt 7, Jl. MH. Thamrin No. 3, RT. 003/RW. 001, Panunggangan Utara, Kec. Pinang, Kota Tangerang, Banten 15143
            </div>
          </div>
        </div>

        <div class="col-3">
          <h6 class="text-black">Butuh Bantuan</h6>
          <div class="d-flex flex-column gap-3">
            <a href="https://wa.me/qr/VDUQNBZUMCMFF1" class="text-black">WhatApps</a>
            <a href="#" class="text-black">Email</a>
            <a href="https://www.instagram.com/sillv_zahrohh?igsh=MXMxbDVhM2M3Y3puZQ==" class="text-black">Instagram</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-3">
      <form>
          <div class="mb-3">
              <label for="exampleInputName" class="form-label text-black">Langganan Newsletter</label>
              <input type="text" class="form-control" id="exampleInputName" placeholder="nama" required>
          </div>
          <div class="mb-3">
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email" aria-describedby="emailHelp" required>
          </div>
          <button type="submit" class="btn btn-primary w-30">Subscribe</button>
      </form>
    </div>
  </div>
</div>